* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  border-bottom: 4px solid white;
}

section {
  min-height: calc(100vh - 7.44rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 90%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}


@media (max-width: 720px) {
  .active {
    border-bottom: 2px solid white;
  }

  section {
    min-height: calc(100vh - 6.25rem);
  }
}